pandas
numpy
matplotlib
joblib
scikit-learn
tensorflow
django
djangorestframework
asyncio
gunicorn
streamlit
channels
plotly
daphne
dotenv
dj_database_url
psycopg2
pytest
pytest-django
pytest-asyncio
pytest-cov