pandas
numpy
matplotlib
joblib
scikit-learn==1.7.0
tensorflow
django
djangorestframework
asyncio
gunicorn
streamlit
channels
plotly==5.24.1
daphne
dotenv
dj_database_url
django-cors-headers
psycopg2-binary
pytest
pytest-django
pytest-asyncio
pytest-cov